/* ===========================
calendar-view
================================ */
.calendar-section{
    padding: 0 1rem;
    gap: 2rem;
}
.calendar-header{
    padding: 0 2rem;
}
.calendar-header .icon-large{
    color: var(--purple);
}
.calendar-grid-details{
    border-radius: 2rem;
    padding: 1rem 0;
    gap:0.5rem;
}
.calendar-grid-details:nth-child(2){
    background-color: var(--primary);
}
.calendar-grid-details .highlight {
    color: var(--white);
    border-radius: 1rem;
    background-color: var(--purple);
}
.calendar-grid-details :is(p, h5){
        padding: 1rem 1.5rem;
        width: fit-content;
}
/* ===========appointment details============= */
.appointment-details{
   gap:2rem;
   padding:1rem 2rem;
}
.appointment-details .card-container{
    padding: 2rem 3rem;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 3rem;
    gap:2rem
}
.card-container .row-1{
    gap:7rem;
}

.card-container .doctor-name {
    font-weight: 100;
}

/* ================================

===============================*/
@media (min-width:1222px) and (max-width:1800px) {
    .calendar-section{
        width: 95%;
    }
   .calendar-view{
        gap: 3rem;
    }
}
@media (min-width:1025px) and (max-width:1222px) {
    .calendar-section{
        width: 90%;
    }
   .calendar-view{
        gap: 1rem;
    }
}
@media (max-width:1000px) {
    .calendar-section{
    gap: 3rem;
    }   
    .calendar-view{
        gap: 2rem;
    }
    .appointment-details{
        flex-wrap: wrap;
    }
}