/* ========health-card======== */
.health-card-container{
    gap: 2rem;
    width: 35rem;
}
.health-card{
    gap:1rem;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 2rem;
    background-color: var(--secondary-color);
}
.health-card> .flex{
   gap: 1.5rem;
}
.health-card .date{
    color: var(--light-grey);
}
.health-card .status-bar{
    height: 1.5rem;
    background-color: var(--primary);
    border-radius: 1rem;
}
.health-card .status-bar > .status-progress-bar{
    width: 80%;
    height: 100%;
    border-radius: 1rem;
}
.health-card:nth-child(1) .status-progress-bar{
    background-color: var(--red);
}
.health-card:nth-child(2)  .status-progress-bar{
    background-color: var(--aqua-green);
}
.health-card:nth-child(3)  .status-progress-bar{
    background-color: var(--orange);
}
@media (min-width:1800px) and (max-width:2200px) {
   .health-card-container{
     width: fit-content;
    }
    .health-card{
        width: 30rem;
    }
}
@media (min-width:1212px) and (max-width:1800px) {
   .health-card{
     width: 40rem;
    }
}

@media (min-width:1120px) and (max-width:1212px) {
   .health-card{
     width: 40rem;
}}
@media (min-width:1025px) and (max-width:1120px) {
   .health-card{
     width: 30rem;
}}
@media (max-width:1025px) {
    .health-card-container{
        flex-wrap: wrap;
        width: 100%;
}
.health-card{
    width: 38rem;
}
}
@media (min-width:973px) and (max-width:1025px) {
    .health-card-container{
        flex-direction: column;
     }
}
@media (min-width:816px) and (max-width:973px) {
    .health-card-container{
        flex-direction: row;
        justify-content: space-evenly;
     }
}
@media (min-width:670px) and  (max-width:816px) {
    .health-card-container{
        flex-direction: column;
        width: 100%;
     }
     .health-card{
        padding: 3rem 2rem;
        width: 60rem;
     }
}
@media (min-width:5px) and  (max-width:670px) {
   .health-card{
    width: 50rem;
     padding: 3rem 2rem;
    }
}