/* ======================================
dashboard-main-content
==================================== */
.dashboard-main-content{
   background-color: var(--main-color);
   display: grid;
   grid-template-columns: 1fr 1fr;
}
/* dashboard-left section */
.dashboard-left-section {
    padding: 1rem 2rem;
    gap: 2rem;
    width: 100%;
}
.dashboard-left-section-container {
    grid-template-rows: 70rem 30rem;
    display: grid;
    gap:4rem;
}
/* ======================
dashboard-right-section
========================= */
.dashboard-right-section{
    display: grid;
    width: 100%;
    gap: 2rem;
    background-color: var(--secondary-color);
    grid-template-rows: 60rem auto;
}
@media (max-width:1800px){

}

@media (min-width:1025px) and (max-width:1800px) {
   .dashboard-main-content{
    grid-template-columns: 1fr;
    }
    .dashboard-left-section,.dashboard-right-section{
    margin: 2rem 4rem;
    }
    .dashboard-left-section{
      width: 98%;
    }
    .dashboard-left-section-container {
    grid-template-rows: 63rem 30rem;
    display: grid;
    gap:4rem;
}
}
@media (max-width:1025px) {
    .dashboard-main-content{
      overflow-y: scroll;
      background-color: var(--main-color);
      width: 100%;
      gap:3rem;
      display: grid;
      padding: 1rem 0rem 2rem 0;
      grid-template-columns: 1fr;
      margin: 0 1rem;
    }    
    .dashboard-left-section-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap:3rem; 
   }
    .dashboard-right-section{
        margin: 0 auto;
        padding: 1rem 2rem;
        gap:4rem;
        border-radius: 3rem;
    }

}
@media (max-width:1000px) {
.dashboard-right-section{
    display: flex;
    flex-direction: column;
        margin: 0 auto;
        padding: 1rem ;
        gap:4rem;
        border-radius: 3rem;
    }
}