/* ==============
upcoming-schedule
 ==================== */
.upcoming-schedule-section{
    margin: 0.5rem;
    padding: 0 2rem;
    gap: 2rem;
}

.upcoming-schedule-container > h6{
    color: var(--grey);
    font-weight: 300;
}
.upcoming-schedule-container{
    gap: 3rem;
}
/*appointment card*/
.appointment-card-container{
    gap: 3rem;
}
.appointment-card{
    background-color: var(--tint);
    padding: 2rem 3rem;
    border-radius: 3rem;
    gap: 1.5rem;
}

.appointment-card >.flex{
    gap: 3rem;
}

.appointment-card .time{
    font-weight: 100;
    color: var(--light-black);
}
 
